body{
    margin: 0px;
    padding: 0px;
}
.head-section{
    background-size: cover;
    background-image:linear-gradient(to left, rgba(0,0,0,0.5),rgba(0, 0, 0, 0.945)), url(images/zajat\ 3.jpg);
    /* border: 5px solid yellow; */
}
.head-div{
    margin-left: 10%;
    padding: 5%;
    text-align: left;
    width: 30%;
    color: white;
}
.banner-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    color: white;
}
.jakat{
    color: yellowgreen;
}
.head-section p{
    font-size: 17px;
}
.dobut{
    background-color: tomato;
    padding: 5px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
.dobut a{
    text-decoration: none;
    color: white;
}
.dobut:hover{
    color:white;
    background-color: brown;
    width: 123px;
}
.donate-button:hover{
    color: white;
    background-color: black;
}

/* head finish main start */
/* head finish main start */

.second-section h1{
    font-size: 50px;
}
.second-section{
    margin-top: 100px;
}
.flexible-container{
    display: flex;
}
.first-div{
    width: 90%;
    padding-left: 8%;
    padding-right: 8%;
}
.first-div video{
    width: 100%;
    margin-top: 90px;  
}

span{
    color: orange;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(yellow, rgb(51, 255, 0));
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px soldi blue;
}
.third-section h1{
    font-size: 50px;
}
.third-section{
    margin-top: 100px;
}
.second-div{
    width: 90%;
    padding-left: 8%;
    padding-right: 8%;
}
.second-div h1{
    margin-top: 55px;
}
.second-div img{
    width: 100%;
    margin-top: 60px;
    border-radius: 7px;
}
h1{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Asap', sans-serif;
}
.mid{
    text-align: center;
    width: 500px;
    padding: 0% 30%;
    margin-top: 80px;
}
.mid h1{
    font-size: 40px;
}
/* .payment-method{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: 250px;
} */
.payment-method{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-left: 350px;
    width: 1000px;
}
.payment-div{
    display: flex; 
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    border-radius: 8px;
}
.payment-div img{
    height: 35px;
    width: 35px;
    display: inline-block;
    margin-top: 15px;
}
.payment-div div{
    padding: 10px;
}
.payment-div h4{
    font-family: 'Poppins', sans-serif;
}
.image-section{
    display: flex;
    margin-top: 100px;
}
.image-section div{
    margin-left: 33px;
    border: 3px solid red;
    border-radius: 6px; 
}
.image-section img{
    width: 400px;
    height: 400px;
}
.fund-container{
    display: flex;
    margin-top: 100px;
}
.zakat-fund{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    text-align: left;
    border-radius: 15px;

}
.zakat-fund img{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}
.zakat-fund a{
    color: red;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.zakat-fund div{
    padding: 0px 10px 20px 10px;
}
